<div class="loginview">
    <!--<div class="jumbotron welcome">-->
    <h1 class="display-3" id="welcometext">CONNECT WITH CHRIST</h1>
    <br>
    <h4 class="display-3">
        <p class="signinprompt">Please sign in below</p>
    </h4>
    <!--</div>-->


    <div class="form-group loginblock" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash"
            ng-bind="flash.message"></div>
    </div>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <form name="form" ng-submit="vm.login()" role="form">
                        <div class="group">
                            <label for="email" class="label">E-mail</label>
                            <input type="email" placeholder="username@email.com" name="email" id="email" ng-model="vm.email" class="input" required />
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input type="password" placeholder="Enter password here" name="pass" id="pass" class="input" data-type="password" ng-model="vm.password"
                                required />
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check"><span class="icon"></span> Keep me Signed in</label>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign in">
                            <!--ng-disabled="form.$invalid || vm.dataLoading" -->
                        </div>
                    </form>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="#forgot">Forgot Password?</a>
                    </div>
                </div>
                <div class="sign-up-htm">
                    <form name="form" ng-submit="vm.signup()" role="form">
                        <div class="group">
                            <label for="firstname" class="label">first name *</label>
                            <input id="firstname" type="text" class="input" required />
                        </div>
                        <div class="group">
                            <label for="lastname" class="label">last name *</label>
                            <input id="lastname" type="text" class="input" required />
                        </div>
                        <div class="group">
                            <label for="email" class="label">E-mail *</label>
                            <input id="email" type="email" class="input" required />
                        </div>
                        <div class="group">
                            <label for="phonenumber" class="label">Phone Number (optional)</label>
                            <input id="phonenumber" type="text" class="input" />
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password *</label>
                            <input id="pass" type="password" class="input" data-type="password" required />
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Repeat Password *</label>
                            <input id="pass" type="password" class="input" data-type="password" required />
                        </div>
                        <div class="group">
                            <label for="mainbusiness" class="label">What's your passion? *</label>
                            <input id="mainbusiness" type="text" class="input" required />
                        </div>
                        <div class="group">
                            <label for="usertype" class="label">Are you a: *</label>
                            <select>
                                <option value=1>Founder</option>
                                <option value=2>Boss</option>
                                <option value=3>Employee</option>
                            </select>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up">
                        </div>
                    </form>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Already Member?</a>
				</div>
			</div>
		</div>
	</div>
    </div>
</div>